<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>Weather</button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-button>Location</button>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-button>Dates</button>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-form-field>
      <input matInput [(ngModel)]="answer" placeholder="Start Date"/>
  </mat-form-field>
  <mat-form-field>
      <input matInput [(ngModel)]="duration" placeholder="Duration"/>
  </mat-form-field>
  <br>

  <button mat-raised-button (click)="showAnswer()"> Check the Weather </button>

  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
<mat-card>

<mat-card *ngIf="answerDisplay">
  <h1>{{answerDisplay}},it's sunny!</h1>
</mat-card>

<div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>
